.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 130px 15px 130px 15px;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .card-container {
    padding: 15px;
    margin: 0 15px;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;
  }
}

@media (max-width: 690px) {
  .card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.card-body {
  width: calc(33.33% - 20px);
  padding: 1.8rem;
  cursor: pointer;
}

@media (max-width: 900px) {
  .card-body {
    padding: 1rem;
  }
}

@media (max-width: 690px) {
  .card-body {
    width: 100%;
  }
}

.card-body:hover {
  background-color: #f2f3f3;
  transition: all 0.2s ease-in-out;
}

.team-image {
  width: 100%;
  margin-bottom: 15px;
}

.team-title-link {
  display: flex;
  align-items: center;
  font-family: "RBCDisplay";
  color: #006ac3;
  line-height: 1.2;
}

.team-title {
  margin-bottom: 15px;
  margin-right: 15px;
  font-size: 24px;
}

@media (max-width: 900px) {
  .team-title {
    font-size: 18px;
  }
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-arrow img {
  width: 18px;
  height: 18px;
}

.team-link {
  font-family: "Roboto";
  line-height: 1;
  font-weight: 300;
  font-size: 16px;
}
